body
	margin: 0
	padding: 0
.header
	background-color: #0f212d
	h2
		text-align: center
		margin: 0
		padding: 0
.main
	background: url(../img/Web-1.jpg)
	width: 100%
	height: 570px
	

#draggable
	border: 1px solid #0f212d
	border-radius: 10px
	cursor: move
	background-color: #2196F3
	padding: 5px
	text-align: center
	position: absolute
	z-index: 2
	left: 100px
	top: 100px
input
	width: 100px