
body
	margin: 0px
	padding: 0px

h1, h2
	margin: 0px
	padding: 0px

.wraper
	width: 1000px
	margin: 0 auto

header
	background-color: green

main
	background-color: #b2bec3

.firstTask
	.hiddenInput
		display: none

#resultFourTask
	ul
		margin: 0
		li
			display: flex
			list-style-type: none

#resultFourTask
	ul
		margin: 0
		&:nth-child(even)
			.firstLine
				background-color: #ffffff
				color: red
		&:nth-child(odd)
			.secondLien
				background-color: red
				color: green
		li
			
			display: inline-block
			color: red
			list-style-type: none

