body
	margin: 0
	padding: 0
ul
	margin: 0
	padding: 0
	li
		margin: 0
		padding: 0
h2
	text-align: center

.first-h2
	padding-top: 0px
	margin-top: 0px

.container
	width: 1200px
	margin: 0 auto
header
	background-color: #530FAD
	h2
		margin: 0
		padding: 10px
		display: inline-block
		
main
	background-color: #8854d0

.first_task
	input 
		border: 2px solid #c2b6b6
		padding: 2px

.second_task
	input 
		border: 2px solid #c2b6b6
		padding: 2px


.third_task
	input
		border: 2px solid #c2b6b6
		padding: 2px
	ul
		li
			font-size: 16px
			color: red
			list-style-type: none
.fifth_task
	input
		border: 2px solid #c2b6b6
		padding: 2px

.seven_task
	#znak
		display: block
		margin: 0 auto

.eight_task
	input
		border: 2px solid #c2b6b6
		padding: 2px
		width: 50px
	.x
		display: inline-block
		

#eight_task_div
	margin: 30px
	ul
		&:nth-child(even)
			li
				font-size: 16
				background-color: #e6cdab
				display: inline
				padding: 2px 10px
				&:nth-child(even)
					background-color: #9f571b
		&:nth-child(odd)
			li
				font-size: 16
				background-color: #9f571b
				display: inline
				padding: 2px 10px
				&:nth-child(even)
					background-color: #e6cdab
.nine_task
	input
		border: 2px solid #c2b6b6
		padding: 2px
.ten_task
	input
		border: 2px solid #c2b6b6
		padding: 2px
.eleven_task_sample
	padding: 20px
	width: 700px
	height: 300px	
.last-p
	padding-bottom: 20px
	margin-bottom: 0px
footer
	background-color: #0c909d
	h2
		margin: 0px
