ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0; }

header .container {
  background-color: #f1c40f;
  text-align: center;
  padding: 20px;
  margin: 0; }
header h1 {
  margin-top: 0px; }
header p {
  margin-bottom: 0; }

main .container {
  display: flex;
  height: 100%; }
main .content {
  background-color: #3498db;
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 100%; }
  main .content .firstForm .button {
    background-color: #8e44ad;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    border: 4px solid #8e44ad;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
    cursor: pointer; }
    main .content .firstForm .button:hover {
      border-left: 4px solid #eccc68;
      border-right: 4px solid #ff7f50;
      border-bottom: 4px solid green;
      border-top: 4px solid #F8EFBA; }
  main .content .secondForm {
    border: 1px solid #fff;
    display: inline-block;
    background-color: #eee;
    width: 250px;
    height: 170px;
    text-align: center; }
    main .content .secondForm .logPass {
      background-color: #fff;
      padding: 10px;
      margin-top: 10px; }
    main .content .secondForm .resSub {
      background-color: #62c987;
      border: 0;
      padding: 10px;
      margin-top: 10px;
      border-radius: 8px; }
  main .content .similarForm {
    margin: 20px auto 0;
    border: 2px solid #eee;
    width: 200px;
    min-width: 30%; }
main .leftMenu {
  width: 25%;
  background-color: #f39c12; }
  main .leftMenu ul {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px; }
    main .leftMenu ul li {
      list-style-type: none;
      border: 1px solid #2c3e50;
      height: 12px;
      width: 120px;
      padding: 15px;
      border-left: 5px solid green;
      border-radius: 8px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      font-family: cursive; }
      main .leftMenu ul li:hover {
        background-color: #2ecc71;
        border-left: 5px solid #e74c3c; }
main .rightMenu {
  background-color: #f39c12;
  width: 25%; }
  main .rightMenu ul {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px; }
    main .rightMenu ul li {
      list-style-type: none;
      border: 1px solid #2c3e50;
      height: 12px;
      width: 120px;
      padding: 15px;
      border-right: 5px solid green;
      border-radius: 8px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      font-family: cursive; }
      main .rightMenu ul li:hover {
        background-color: #2ecc71;
        border-right: 5px solid #e74c3c; }

footer .container {
  height: 30px;
  background-color: #95a5a6; }
footer p {
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
