@import "fontsSass/fonts.sass"

.col-1 
	width: 8.33%
.col-2 
	width: 16.66%
.col-3 
	width: 25%
.col-4 
	width: 33.33%
.col-5 
	width: 41.66%
.col-6 
	width: 50%
.col-7 
	width: 58.33%
.col-8 
	width: 66.66%
.col-9 
	width: 75%
.col-10 
	width: 83.33%
.col-11 
	width: 91.66%
.col-12 
	width: 100%

.row::after 
	content: ""
	clear: both
	display: table

[class*="col-"] 
	float: left
	padding-left: 10px
	padding-right: 10px
	

.container
	width: 960px 
	margin: 0 auto

*
	box-sizing: border-box

header
	background-image: url(../img/blue-pattern.jpg)
	position: relative
	height: 650px
.logo
	display: inline-block
	p
		padding: 0px 39px 28px 36px
		background-color: #fff
		margin: 0
		font-family: 'Kaushan Script', cursive
		color: #00aae8
		border-bottom: 4px solid rgba(13,169,229, 1)
		font-size: 50px
		font-weight: 500
		box-shadow: 15px 15px 0px 0px #01b1ea

.sandwich-block
	text-align: right
	padding-top: 36px
	
		

.sandwich 
	display: inline-block
	cursor: pointer
	text-align: right
	z-index: 151
	position: relative

.bar1, .bar2, .bar3, .bar4
	width: 31px
	height: 4px
	background-color: #fff
	margin: 2px 0
	transition: 0.4s
	border-radius: 13%

.change .bar1 
	transform: rotate(-45deg) translate(-1px, 2px)

.change .bar2
	opacity: 0
.change .bar4
	opacity: 0

.change .bar3 
	transform: rotate(45deg) translate(-6px, -8px)	


.head-caption-text
	text-align: right
	color: #ffffff
	.caption
		h2
			font-size: 70px
			font-weight: 100
			font-family: "BLACKJAR"
			margin: 50px -8px 18px
	.text
		p
			font-size: 35px
			margin-top: 0
			strong
				font-style: italic
.head-img-button
	display: flex
	justify-content: space-between
	position: relative
.head-img
	text-align: center
	display: inline-block
	margin-top: 36px
	margin-left: 70px
	height: 266px
	overflow: hidden

.head-button
	text-align: right
	display: inline-block
	button
		display: inline-block
		border-radius: 3px
		cursor: pointer
		margin-top: 15px
		background: transparent
		padding: 18px 29px
		font-size: 15px
		border: 2px solid #fff
		color: #fff
		a
			text-decoration: none
			color: #fff


.show-for-surprize
	position: fixed
	display: none
	width: 100%
	height: 100%
	background-color: rgba(229,127,133,.8)
	z-index: 50
	right: 0
	top: 0
	
	.navigation
		margin-top: 150px
		max-width: 150px
		margin: 150px auto
		a
			text-decoration: none
			
		
		
	.social-item
		display: inline-block
		border-radius: 50%
		font-size: 20px
		font-weight: 600
		padding: 13px 15px
		color: #4eacdd
		background-color: #fff
	.facebook-item
			padding: 13px 20px

	p
		display: inline-block
		color: #fff


.section-aboutMe
	height: 650px
	background-color: #f4f4f4
	position: relative
	

.aboutMe-text
	h2
		font-size: 40px
		margin-top: 140px
		margin-bottom: 27px
	p
		font-size: 16px
		margin-bottom: 24px
		font-family: 'Montserrat', sans-serif
		font-style: italic
		line-height: 25px
	.last-p
		border-left: 5px solid #00aee0
		padding-left: 20px

	button
		display: inline-block
		border-radius: 3px
		cursor: pointer
		margin-top: 45px
		background: transparent
		padding: 18px 34px
		font-size: 15px
		border: 2px solid #14af8f
		color: #14af8f
		a
			text-decoration: none
			color: #14af8f

.aboutMe-img
	position: absolute
	bottom: 0px
	right: 0px
	height: 500px
	width: 340px
	overflow: hidden

//******section-portfolio*********

.section-portfolio
	height: 650px
	position: relative
	overflow: hidden
	background-color: #ffffff	


.portfolio-text
	margin-top: 94px
	margin-left: 63px
	font-family: 'Montserrat', sans-serif
	h2
		font-size: 40px
		font-weight: 100
		color: #545454
	p
		font-size: 16px
		color: #474e5d
		line-height: 24px
		margin-bottom: 25px
	.last-p
		color: #9a9a9a
		margin: 0
	button
		display: inline-block
		border-radius: 3px
		cursor: pointer
		margin-top: 35px
		margin-bottom: 237px
		background: transparent
		padding: 18px 21px
		font-size: 15px
		border: 2px solid #ea4c89
		color: #ea4c89
		a
			text-decoration: none
			color: #ea4c89

.portfolio-img
	position: relative
	height: 650px

	.portfolio-img-block
		position: absolute
		bottom: 0px
		height: 377px
		right: -161px
		overflow: hidden

//******section-donate*********

.section-donate
	height: 325px
	background-image: url(../img/green-pattern.jpg)
	
.donate
	text-align: center
	margin-top: 85px
	h2
		font-size: 40px
		font-family: 'Montserrat', sans-serif
		color: #ffffff
		font-weight: 100
		margin: 15px
	button
		display: inline-block
		border-radius: 3px
		cursor: pointer
		margin-top: 20px
		margin-bottom: 97px
		background: transparent
		padding: 18px 32px
		font-size: 15px
		border: 2px solid #ffffff
		color: #ffffff
		a
			text-decoration: none
			color: #ffffff

.section-contact
	height: 650px
	background-color: rgb(244,244,244)

.contact
	padding-top: 243px
	text-align: center
	nav
		display: inline-block
		margin-right: 31px
		color: #545454
		&:last-child
			margin: 0
		.social-item
			border: 3px solid #545454
			border-radius: 50%
			font-size: 20px
			font-weight: 600
			padding: 13px 15px
			display: inline-block
		.facebook-item
			padding: 13px 20px

.contact-block-mail
	padding-bottom: 240px
	font-family: 'Montserrat', sans-serif
	text-align: center
	display: flex
	flex-direction: row
	Justify-content: center
	align-items: center
	margin-top: 66px
	.contact-block-mail-text
		margin-right: 25px
		p
			margin: 0
			font-weight: 600
	.contact-block-mail-input
		form
			position: relative
			input
				padding: 14px
				padding-right: 33px
				border: none
				color: #d3d3d3
				font-size: 14px
				border-radius: 10px
			input[type="text"]::placeholder 
				color: #d3d3d3	
			a
				position: absolute
				color: #6ec5ea
				border-left: 1px solid #e9e9e9
				padding-left: 10px
				bottom: 12px
				right: 10px

.section-footer
	height: 100px
.foot-container
	text-align: center
	position: relative
	font-family: 'Montserrat', sans-serif
	margin-top: 47px
	span
		color: #6dc5ea
	p
		font-size: 12px
		color: #545454
.button-up
	position: relative
	.button-go-up
		position: absolute
		right: -93px
		top: -32px
		display: inline-block
		button
			background-color: #f4f4f4
			border: 1px solid #f4f4f4
			padding: 10px 14px
			border-radius: 5px
	
@import "media/media.sass"
	